.modal-overlay {
  position: fixed;
  background-color: var(--highlight1-8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(50px, 25vw, 400px);
}

.modal-content {
  background-color: var(--main-bg);
  padding: 24px;
  height: 80%;
  width: 100%;
  border-radius: 8px;
}

form.add-post {
  max-width: unset;
  box-shadow: unset;
  margin-bottom: unset;
  padding: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 47px);
}

form.add-post input,
form.add-post textarea {
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid var(--highlight2-8);
  box-shadow: var(--shadow);
  padding: 5px 8px;
}

.modal-content h1 {
  font-family: var(--font-serif);
  font-size: var(--text-2xl);
  margin-block: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.text-content {
  height: 100%;
  width: 100%;
  resize: none;
}
.btn-cancel,
.btn-publish {
  padding: 8px 10px;
}

.btn-cancel {
  background-color: var(--main-bg);
  color: var(--highlight2);
  border: 1px solid var(--highlight2-8);
}

.btn-cancel:hover {
  background-color: var(--primary);
  color: var(--highlight2);
}

.btn-publish:hover {
  background-color: var(--highlight3);
}

.time-Info {
  opacity: 0.6;
  color: var(--highlight2);
}

.user-post-details {
  display: flex;
  flex-direction: row;
}

.modal-overlay.view-post {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 clamp(50px, 20vw, 400px);
}

header.view-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: unset;
  padding-block: 10px;
}

h1.post-title {
  font-size: var(--text-4xl);
  font-family: var(--font-serif);
}

div.post-content p {
  font-size: var(--text-lg);
  line-height: 30px;
}

article.full-post {
  overflow-y: auto;
  height: calc(100% - 47px);
}

.post-content {
  position: relative;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.post-item {
  background-color: var(--main-bg);
  /* border: 1px solid var(--highlight2-8); */
  padding: 20px;
  border-radius: 5px;
  margin: 15px 0;
  /* box-shadow: var(--shadow); */
  box-shadow: var(--shadow2)
}

.post-item h2 {
  margin: 10px 0px;
  font-family: var(--font-serif);
}

.post-item p {
  color: var(--highlight1-6);
}

.post-item:hover {
  border: unset;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.post-item:hover h2 {
  color: var(--highlight3);
}

.dot.post {
  margin: 0 5px;
}

.dot.post,
.timestamp {
  opacity: 0.6;
  color: var(--highlight2);
}
